.books-container {
  display: flex;
  flex-direction: column;
  padding: 2.3rem 6.25rem 16.6rem;
}

.books-list {
  display: flex;
  flex-direction: column;
  gap: 0.938rem;
  padding-bottom: 2.5rem;
  border-bottom: solid 1px #e8e8e8;
}

.bookCard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  gap: 3rem;
}
