.bookProgress-container * {
  font-family: 'Montserrat', sans-serif;
}

.bookProgress-container {
  align-self: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.313rem;
  border-right: solid 1px #e8e8e8;
  padding-right: 4.938rem;
}

.booProgress-text {
  display: flex;
  flex-direction: column;
}

.bookProgress-info {
  font-size: 2rem;
  letter-spacing: normal;
}

.bookProgress-status {
  opacity: 0.5;
  font-size: 0.875rem;
}

@media screen and (max-width: 1312px) {
  .bookProgress-container {
    border: none;
  }
}
