.BookChapter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: flex-end;
}

.BookChapter-container > h2 {
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: 300;
}

.BookChapter-container > p {
  margin-top: 0.438rem;
  margin-bottom: 1.438rem;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
}

.BookChapter-container > button {
  width: 11.5rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
}
