.book-category {
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: normal;
}

.book-title {
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -0.2px;
}

.book-author {
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: normal;
  color: #4386bf;
}

.book-actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.313rem;
}

.book-actions > button {
  all: unset;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
  cursor: pointer;
  padding: 0 0.938rem;
  border-left: solid 1px #e8e8e8;
}

.book-actions > button:first-child {
  border-left: none;
  padding-left: 0;
}
