header * {
  font-family: 'Montserrat', sans-serif;
}

header,
nav,
ul {
  display: flex;
}

header {
  background-color: #fff;
  align-items: center;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
}

.navbar-title {
  font-weight: bold;
  color: #0290ff;
}

.navbar-links {
  padding: 0 2.56rem;
  gap: 2.56rem;
}

.navbar-links > li {
  font-size: 0.813rem;
  letter-spacing: 1.9px;
}

a {
  text-decoration: none;
}

.navbar-user {
  position: absolute;
  right: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
  padding: 14px;
}

.navbar-user svg {
  width: 17px;
  height: 17px;
  filter: brightness(0) saturate(100%) invert(62%) sepia(65%) saturate(7382%) hue-rotate(189deg) brightness(104%) contrast(104%);
}

@media screen and (max-width: 950px) {
  header,
  nav,
  ul {
    flex-direction: column;
  }

  .navbar-user {
    position: relative;
    right: 0;
  }

  nav {
    text-align: center;
    padding: 1rem;
  }

  .navbar-links {
    gap: 1rem;
  }
}
