@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

html * {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
  color: #121212;
}

body {
  background-color: #f5f6fa;
}

li {
  list-style: none;
}

.App {
  margin: 9rem 6.25rem 11.75rem;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.2);
  background-color: #fafafa;
}
